{{ if (eq .chezmoi.os "darwin") -}}
if which brew &> /dev/null; then
    HOMEBREW_PREFIX="$(brew --prefix)/opt"

    for GNU_PACKAGE in grep findutils gawk gnu-{sed,tar,time,which} coreutils; do
        if [ -d "${HOMEBREW_PREFIX}/${GNU_PACKAGE}/libexec/gnubin" ]; then
            GNU_PATH="${HOMEBREW_PREFIX}/${GNU_PACKAGE}/libexec/gnubin":${GNU_PATH}
            GNU_MANPATH="${HOMEBREW_PREFIX}/${GNU_PACKAGE}/libexec/gnuman":${GNU_MANPATH}
        fi
    done

    export PATH=${GNU_PATH}:${PATH}
    export MANPATH=${GNU_MANPATH}:${MANPATH}
fi
{{- end }}
