[user]
	name = Igor Vinokurov
	email = zynaps@zynaps.ru
[alias]
	reword = commit --amend
[color]
	ui = auto
[core]
	pager = less --quit-if-one-screen --no-init
	excludesfile = ~/.gitignore
[push]
	default = simple
